/*******************************************************************************************************************/
/******************************************НАСТРОЙКИ КНОПОК*********************************************************/
/*******************************************************************************************************************/
//--------------ПЕРЕМЕННЫЕ-------------------------------------------------------------------------------------------
// Стандартный размер шрифта
@button-font-size: 12px;
// Внутренний отступ
@button-padding: 8px 12px;
// Внешний отступ
@button-margin: 6px;
// Высота линии
@button-line-height: 24px;
// Темный цвет кнопки
@dark-color: darkgray;
// Светлый цвет кнопки
@light-color: lightgray;
// Черный цвет кнопки
@black-color: #555;
//------------ПРИМЕСИ------------------------------------------------------------------------------------------------
// Доработать, если нужно
.button-outline() {
  outline: none;
}
// Кросс-браузерный градиент кнопки
.button-gradient(@default-color, @color-1, @color-2) {
  background-color: @default-color; // Для старых браузров
  background-image: -moz-linear-gradient(bottom, @color-1, @color-2); /* Firefox 3.6+ */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(@color-1), color-stop(@color-2)); /* Chrome 1-9, Safari 4-5 */
  background-image: -webkit-linear-gradient(bottom, @color-1, @color-2); /* Chrome 10+, Safari 5.1+ */
  background-image: -o-linear-gradient(bottom, @color-1, @color-2); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(bottom, @color-1, @color-2); /* IE10 */
  background-image: linear-gradient(bottom, @color-1, @color-2); /* CSS3 */
}

//------------РЕАЛИЗАЦИЯ СТИЛЕЙ КНОПКИ-------------------------------------------------------------------------------
.button {
  .display-inline;
  .line-height(@button-line-height);
  margin:          @button-margin;
  padding:         @button-padding;
  font:            @button-font-size Verdana, Arial, Helvetica, sans-serif;
  text-align:      center;
  cursor:          pointer;
  text-decoration: none;
  color:           lighten(@black-color, 20%);

  .text-shadow(@light-color);
  .box-shadow(0 0 2px 0, @dark-color, inset 0 0 8px, @light-color);
  .border-radius(6px);
  .button-gradient(lighten(@dark-color, 30%), lighten(@dark-color, 30%), lighten(@dark-color, 25%));
  .button-border(@dark-color);
  .text-shadow(lighten(@dark-color, 25%));

  &:focus {
    .button-outline;
  }

  &:hover {
    color: lighten(@black-color, 15%);
    .button-gradient(lighten(@dark-color, 28%), lighten(@dark-color, 28%), lighten(@dark-color, 23%));
  }

  &.active, &:active {
    color: lighten(@black-color, 10%);
    .button-gradient(lighten(@dark-color, 25%), lighten(@dark-color, 25%), lighten(@dark-color, 20%));
  }

  &.disabled, &[disabled] {
    cursor: not-allowed;
    color:  lighten(@black-color, 20%);
    .button-gradient(lighten(@dark-color, 40%), lighten(@dark-color, 40%), lighten(@dark-color, 30%));
    .button-border(lighten(@dark-color, 20%));
    .opacity(50);
    .box-shadow(0 0 2px 0, lighten(@dark-color, 40%), inset 0 0 8px, lighten(@light-color, 40%));
  }

}

.button-color(@color) {
  background: @color);
  .button-border(darken(@color, 20%));
}

.button.button-primary {
  .button-color(#0088CC);
}